configuration {
	width: 30;
	lines: 6;
	columns: 2;
	font: "Titillium Web 10";
	show-icons: false;
	line-margin: 10;
	modi: "window,run,drun,file-browser-extended";
	display-window: "";
	display-run: "";
	display-ssh: "";
	display-drun: "";
	display-combi: "";
	display-file-browser-extended: "";
}

@theme "ayu-dark"
